$primary: #302B6D;
$secondary: #7758A4;
$danger: #EB5757;
$success: #27AE60;
$warning: #FF7F50;
$info: #88FEF0;
$dark: #272727;
$grey: #cbcbcb00;
$dark-grey: #696969;
$white: rgba(255, 255, 255, 0.85);
$light: #f8f9fa;
$dark-pink: #FF7EA4;
$light-pink: #FEABB3;
$light-purple: #A97CD7;
$yellow: #FED885;
$dark-orange: #F48D6C;
$light-orange: #FFAB96;

$colors: (
  "primary": $primary,
  "secondary": $secondary,
  "danger": $danger,
  "success": $success,
  "warning": $warning,
  "info": $info,
  "dark": $dark,
  "grey": $grey,
  "dark-grey": $dark-grey,
  "white": $white,
  "light": $light,
  "dark-pink": $dark-pink,
  "light-pink": $light-pink,
  "light-purple": $light-purple,
  "yellow": $yellow,
  "dark-orange": $dark-orange,
  "light-orange": $light-orange,
);

$color-ranges: (
  0: 0,
  5: 5,
  10: 10,
  15: 15,
  20: 20,
  25: 25,
  30: 30,
  35: 35,
  40: 40,
);
