@import "./_variables.scss";
@import "bootstrap";
@import "./_transitions.scss";
@import "./_utilities.scss";
@import "./_overrides.scss";
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

main {
  flex-grow: 1;
  display: flex;
  align-items: stretch;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Russo One', sans-serif;
}

p {
  font-family: 'Lato', sans-serif;
}

@media only screen and (max-width: 768px){
body{
  background-image: url('./assets/img/Iphonetally.png');
  background-size: cover;
  background-position: center;
}
}

body{
  background-image: url('./assets/img/DesktopTally.png');
  background-size: cover;
  background-position: center;
}