@import "./_variables.scss";
@import "bootstrap";
@import "./_transitions.scss";
@import "./_utilities.scss";
@import "./_overrides.scss";
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

main {
  flex-grow: 1;
  display: flex;
  align-items: stretch;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Russo One', sans-serif;
}

p {
  font-family: 'Lato', sans-serif;
}

@media only screen and (max-width: 768px){
body{
  background-image: url('./assets/img/mobile-tally.png');
  background-size: cover;
  background-position: center;
}
}

body{
  background-image: url('./assets/img/desktop-tally.png');
  background-size: cover;
  background-position: center;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: whitesmoke;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
}

.pink-text-shadow{
  text-shadow: 1px 1px 2px $extra-dark-pink;
}

.white-text-shadow{
  text-shadow: 1px 1px 2px $dark-grey
}

.pointer{
  cursor: pointer;
}